:root {
  --white-100: #fff;
  --white-200: #f3f4f6;

  --gray-100: #d3d3d3;
  --gray-200: #666666;
  --gray-300: #515151;
  --gray-500: #3c3c3c;
  --gray-700: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background: var(--gray-700);
  color: var(--white-200);
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  cursor: pointer;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
